@{
    ViewBag.Title = "Ng Sample #1";
}

<h2>Angular Sample #1</h2>
<h3>Hey, it works!</h3>
<hr />
<div ng-app>
    <p>Hello {{1 + 1}} the World!</p>
</div>

@section scripts
{
    <script src="~/Scripts/angular.min.js"></script>
}


